/* ### Neutral

- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

.App {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-size: 1.5rem;
}
h2 {
	font-size: 1.2rem;
}

.App-header {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 70px;
	box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.03);
}
.text-wrapper {
	width: 85%;
}

.h1-wrapper {
	display: flex;
	justify-content: space-between;
	color: hsl(200, 15%, 8%);
}

/* Main section */

.main-section {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.main-wrapper {
	width: 85%;
}

#country-input {
	width: 350px;
	height: 50px;
	padding-left: 20px;
	border: none;
	box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
}
